<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>

<div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="col-md-10 col-lg-10-2 col-xl-11">
    <div class="row">
        <div class="box-header col-lg-4">
            <br>
            <h3 class="box-title">Estatus de Mandriles</h3>
            <br>
        </div>
    </div>

    <% include tarjetas %>
</div>

<div class="container">
    <div class="col-lg-12">

    </div>

</div>
<div class="table-responsive text-center">
    <div class="containerTable">
        <!-- /.box-header -->
        <div class="table table-responsive" id="table">
            <table id="myTable" class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">

                    <th><span class="icoSidebar fas fa-history"></span> Historial</th>
                    <th><span class="icoSidebar fas fa-hashtag"></span> ID Mandril</th>
                    <th><span class="icoSidebar fas fa-wrench"></span> Plano/CMM</th>
                    <th><span class="icoSidebar fas fa-wrench"></span> Reporte</th>
                    <th><span class="icoSidebar fas fa-calendar-check"></span> Estado</th>
                    <th><span class="icoSidebar fas fa-car"></span> Numero de Parte</th>
                    <th><span class="icoSidebar fas fa-car"></span> Plataforma</th>
                    <th><span class="icoSidebar fas fa-car"></span> Tipo</th>
                    <th><span class="icoSidebar fas fa-ruler"></span> Motivo</th>
                    <!-- <th><span class="icoSidebar fas fa-ruler"></span> Longitud Vulcanizado</th>
                    <th><span class="icoSidebar fas fa-ruler"></span> Espesor</th>
                    <th><span class="icoSidebar fas fa-ruler"></span> Diametro</th>
                    <th><span class="icoSidebar fas fa-ruler"></span> Groove</th> -->
                    <th><span class="icoSidebar fas fa-calendar"></span> Ultima Actividad</th>
                    <th><span class="icoSidebar fas fa-tasks"></span> Actividad</th>
                    <th><span class="icoSidebar fas fa-warehouse"></span> Area Actual</th>
                    <th><span class="icoSidebar fas fa-arrow-up"></span> Prioridad</th>
                    <th><span class="icoSidebar fas fa-stopwatch"></span> Tiempo Actividad Actual</th>
                    <th><span class="icoSidebar fas fa-stopwatch"></span> Estatus</th>


                </thead>

                <tbody>
                    <%if(data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <%
                let date = data[i].mandril_ufecha
                let formatted_date =  date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() 

                %>

                    <%
                            if(data[i].mandril_estado == "Liberado"){
                               classBtn = "success"
                            }else if(data[i].mandril_estado== "Proceso"){
                                classBtn ="info"
                            }else{
                                classBtn="danger"
                            }

                            if(data[i].mandril_activo == "Obsoleto"){
                                classBtn= "secondary"
                                letterColor= "color:gray;"
                             }else{
                
                                letterColor= "color:dark;"
                             }
                             %>


                            %>

                    <tr class="table_roww">
                        <td class="text-center " width='5%'>
                            <form method="POST">
                                <button name="equipoid" type="submit" formaction="/historial_mandril"
                                    class="btn btn-<%=classBtn%> text-center" data-toggle="tooltip" data-placement="left" title="Historial"><span class="icoWhite fas fa-history"></span></button>
                                <input type="text" name="idmandril" value="<%=data[i].mandril_id%>-<%=data[i].mandril_consec%>" hidden>
                            </form>
                        </td>
                        

                        <td class="table_id " width='10%'  style="<%=letterColor%>"><%= data[i].mandril_id %>-<%= data[i].mandril_consec %></td>
                        <td class="text-center " width='5%'> 
                                <form method="POST">
                                <button type="submit" formaction="/plano" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Plano"><span
                                class="icoWhite fas fa-wrench"></span></button>
                                <input type="text" name="idmandrilp" value="<%=data[i].mandril_id%>-<%=data[i].mandril_consec%>" hidden>
                                <input type="text" name="idmandrilplano" value="P<%=data[i].mandril_id%>-<%= data[i].mandril_plano%>" hidden>
                                <input type="text" name="idmandrilcmm" value="C<%=data[i].mandril_id%>-<%= data[i].mandril_cmm%>" hidden>
                                <input type="text" name="tipo" value="plano" hidden>
                            </form>
                            </td>

                            <td class="text-center " width='5%'> 
                                <p hidden>test</p>
                                <form method="POST">
                                <button type="submit" formaction="/mandril_info" class="btn btn-<%=classBtn%>" data-toggle="tooltip" data-placement="right" title="Reporte"><span
                                class="icoWhite fas fa-tasks"></span></button>
                                <input type="text" name="idmandrilInfo" value="<%=data[i].mandril_id%>-<%=data[i].mandril_consec%>" hidden>
                                <input type="text" name="mandrilStatus" value="<%=data[i].mandril_status%>" hidden>
                                <input type="text" name="classColor" value="<%=classBtn%>" hidden>

                                
                            </form>
                            </td>

                            
                            <%if(data[i].mandril_estado == 'Liberado'){%>
                                
                                <!-- <td><form method="POST">
                                        <button type="submit" formaction="/plano" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Formato"><span
                                        class="icoWhite fas fa-check"></span></button>
                                        <input type="text" name="idmandrilplano" value="F<%=data[i].mandril_id%>-<%= data[i].mandril_consec%>" hidden>
                                        <input type="text" name="idmandrilp" value="<%=data[i].mandril_id%>-<%= data[i].mandril_consec%>" hidden>
                                        <input type="text" name="tipo" value="reporte" hidden>
                                        
                                    </form></td> -->
                                    <td style="<%=letterColor%>">
                                        Liberado
                                    </td>
                            <%}else{%>
                        <td style="<%=letterColor%>"><%= data[i].mandril_estado%></td>
                        <%}%>
                        <td style="<%=letterColor%>"><%= data[i].mandril_numparte%></td>
                        <td style="<%=letterColor%>"><%= data[i].mandril_plat%></td>
                        <td style="<%=letterColor%>"><%= data[i].mandril_tipo %></td>
                        <td style="<%=letterColor%>"><%= data[i].mandril_motivo %></td>
                        <!-- <td><%= data[i].mandril_lvulca %></td>
                        <td><%= data[i].mandril_espesor %></td>
                        <td><%= data[i].mandril_diametro %></td>
                        <td><%= data[i].mandril_groove %></td> -->
                        <td style="<%=letterColor%>"><%= formatted_date %></td>
                        <td style="<%=letterColor%>"><%= (data[i].activ_descripcion).substring(0,8)+"..." %></td>
                        <td style="<%=letterColor%>"><%= data[i].area_desc  %></td>
                        <td style="<%=letterColor%>"><%= data[i].mandril_prioridad  %></td>

                        <%if(data[i].mandril_status !='20' && data[i].mandril_estado=="Proceso" && data[i].mandril_activo=="Activo") { %>
                        <td>
                            <div class="time-elapsed"></div>
                            <div class="date_start_time" data-date-time="<%= data[i].mandril_ufecha %>"></div>
                            <div class="alerts-wrapper"></div>
                        </td>
                        <% }else { %>
                        <td></td>
                        <% } %>
                        <td style="<%=letterColor%>"><%= data[i].mandril_activo  %></td>

                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ./static/footer %>

<script>

    window.onload = function () {
        $(".spinner-border").fadeOut("fast");
        $('.main').show('slow');
    }
</script>

</div>
</body>

</html>

