<% include ./static/header %>
<% include ./static/sidebar %>
<% include ./static/navbar %>
<div class="col-xl-12 jumbotron jumbotron-fluid">
        <div class="container">
                <img src="/img/TristoneLogo.png" class="rounded mx-auto d-block animated bounceInDown"
                        alt="Tristone Flowtech">
                <br>
                <h2 class="display-4 text-center animated bounceInDown" display: inline-block>Mandril: #<%=idmandril%>
                </h2>
                <br>


                <%if(areaplano=='Lanzamientos'){%>
                <form method="POST">

                        <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" formaction="/liberar/liberar" class="btn btn-success"><span
                                                class="icoWhite fas fa-check" data-toggle="tooltip"
                                                data-placement="left" title="Liberar"></span></button>

                                <button type="submit" formaction="/liberar/rechazar" class="btn btn-danger"
                                        data-toggle="tooltip" data-placement="right" title="Rechazar"><span
                                                class="icoWhite fas fa-times"></span></button>


                        </div>

                        <input type="text" name="idmandrill" value="<%=idmandrill%>" hidden>
                        <input type="text" name="consecutivo" value="<%=consecutivo%>" hidden>
                        <input type="text" name="actividad" value="<%=actividad%>" hidden>
                        <input type="text" name="descripcion" value="<%=descripcion%>" hidden>
                        <input type="text" name="numeroplano" value="<%=numeroplano%>" hidden>


                </form>
                <%}%>







                <br>

                <%if(editconsec=='Tooling'){%>

                        <form action="/" method="POST" enctype="multipart/form-data"
                        class="animated bounceInDown">
                                <h3 class="box-title">Cambiar Consecutivo</h3>
                                <div class="row">
                                        
                                
                                <div class="form-group col-lg-3">
                                        <label for="Titulo">Mandril:</label>
                                      
                                                <input type="text" class="form-control" id="consec_mandril" value="<%=data[0].mandril_id%>"name="consec_mandril" readonly>                                      
                                        
                                </div>
                                <div class="form-group col-lg-3">
                                        <label for="Titulo">Consecutivo:</label>
                                        <input type="text" class="form-control" id="nuevo_consec" value="<%=consecutivo%>"name="nuevo_consec">
                                </div>

                                
                                <input type="text" class="form-control" id="viejo_consec" value="<%=consecutivo%>"name="viejo_consec" hidden>
                        </div>
                                <div class="box-footer">
                                                                        
                                       <button id="btnguardar" type="submit" class="btn btn-primary"
                                                onclick="$('form').attr('action', '/cambiar_consecutivo');">Cambiar</button>
                                </div>
                         </form>
                         <%}%>

                         <br>

                <%if(areaplano=='Tooling'){%>



                <form action="/guardar_mandril" method="POST" enctype="multipart/form-data"
                        class="animated bounceInDown">
                        <h3 class="box-title">Reemplazar</h3>
                        <div class="form-group">
                                <label for="titulo">Seleccionar Plano PDF </label>
                                <input type="file" name="fileUploader" id="fileUploader" accept="application/pdf"
                                        required>
                        </div>

                        <div class="form-group">
                                <label for="Descripcion">Comentario:</label>
                                <textarea type="text" class="form-control " rows="6" name="comentario"
                                        required></textarea>
                        </div>
                        <div class="box-footer">
                                <button id="btnguardar" type="submit" class="btn btn-primary"
                                        onclick="$('form').attr('action', '/reemplazar_plano');">Guardar</button>
                        </div>
                        <input type="text" name="idmandrilplano" value="<%=idplano%>" hidden>
                        <input type="text" name="idmandril" value="<%=idmandril%>" hidden>
                        <input type="text" name="areaplano" value="<%=areaplano%>" hidden>
                        <input type="text" name="tipo" value="<%=tipo%>" hidden>

                        <%}%>
        <br>




        <%if(tipo=='plano'){%>
                                                <h4 class="box-title">Open pt.</h4>

                                                <div class="row">
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Minimo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="OpenDiametroMinimo"
                                                                        value="<%= data[0].ODiamMin %>"
                                                                        name="OpenDiametroMinimo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Maximo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="OpenDiametroMaximo"
                                                                        value="<%= data[0].ODiamMax %>"
                                                                        name="OpenDiametroMaximo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Espesor mang. Minimo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="OpenEspesorMinimo"
                                                                        value="<%= data[0].OEspMin %>"
                                                                        name="OpenEspesorMinimo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Espesor mang. Maximo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="OpenEspesorMaximo"
                                                                        value="<%= data[0].OEspMax %>"
                                                                        name="OpenEspesorMaximo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>

                                                </div>


                                                <h4 class="box-title">Intermedio pt.</h4>


                                                <div class="row">
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Minimo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="InterDiametroMinimo"
                                                                        value="<%= data[0].IDiamMin%>"
                                                                        name="InterDiametroMinimo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Maximo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="InterDiametroMaximo"
                                                                        value="<%= data[0].IDiamMax%>"
                                                                        name="InterDiametroMaximo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>


                                                </div>

                                                <h4 class="box-title">Boss pt.</h4>


                                                <div class="row">
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Minimo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="BossDiametroMinimo"
                                                                        value="<%= data[0].BDiamMin%>"
                                                                        name="BossDiametroMinimo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Diametro Interno Maximo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="BossDiametroMaximo"
                                                                        value="<%= data[0].BDiamMax%>"
                                                                        name="BossDiametroMaximo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Espesor mang. Minimo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="BossEspesorMinimo"
                                                                        value="<%= data[0].BEspMin%>"
                                                                        name="BossEspesorMinimo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>
                                                        <div class="form-group col-lg-3">
                                                                <label for="Titulo">Espesor mang. Maximo vs Plano:
                                                                </label>
                                                                <label id="msg"> </label>
                                                                <input type="text" class="form-control"
                                                                        id="BossEspesorMaximo"
                                                                        value="<%= data[0].BEspMax%>"
                                                                        name="BossEspesorMaximo"
                                                                        onkeyup="this.value = this.value.toUpperCase();"
                                                                        required <% if(areaplano!='Tooling') {%>
                                                                        readonly <% } %>>
                                                        </div>

                                                </div>
                                        </form>
                                        <%}%>

<br>
                                        <%if(areaplano2=='ToolingObsoleto'){%>
                                                <div>
                                                        <div class="col-lg-11 text-right">
                                                                <form action="/obsoleto" method="POST" enctype="multipart/form-data"
                                                 
                        
                                                                        <div class="box-footer">
                                                                                <button id="btnguardar" type="submit" class="btn btn-danger"
                                                                                        onclick="$('form').attr('action', '/obsoleto');">Cambiar
                                                                                        a Obsoleto</button>
                                                                        </div>
                                                             
                                                                        <input type="text" name="idmandrilObsoleto" value="<%=idmandril%>" hidden>
                                                                 
                                                                        
                                                        </div>
                        
                                                 </div>
                                        <%}%>
                        
                                <br>

                                <h4 class="box-title">Plano</h4>
<div class="row animated bounceInDown slow cdelay-1">
        <div class="col-2"></div>
        <div class="col-lg-12 text-center">
                <!-- <iframe id="PDF" title="PDF" src="<%=idplano%>.pdf" frameborder="1" scrolling="auto" height="800"
                                        width="100%"></iframe> -->
                                        <iframe id="PDF" title="PDF" src="../<%=idplano%>.pdf" frameborder="1" scrolling="auto" height="800"
                                width="100%"></iframe>
                                </div>
                                <div class="col-2"></div>
                        </div>

                        <br>
                        <h4 class="box-title">CMM</h4>
                        <div class="row animated bounceInDown slow cdelay-1">
                                <div class="col-2"></div>
                                <div class="col-lg-12 text-center">
                                        <iframe id="PDF" title="PDF" src="../<%=idmandrilcmm%>.pdf" frameborder="1"
                                                scrolling="auto" height="800" width="100%"></iframe>
                                        <!-- <iframe id="PDF" title="PDF" src="../<%=idplano%>.pdf" frameborder="1" scrolling="auto" height="800"
                                        width="100%"></iframe> -->
                                </div>
                                <div class="col-2"></div>
                        </div>



        </div>




</div>
</div>




<% include ./static/footer %>
</div>
</body>

</html>


<script>


        $(document).ready(function () {
                //$('input[type="text"]').prop('readonly', true);

        })
</script>